
@{
    ViewData["Title"] = "Home Page";
}

<h1>Cookies Authentication Example</h1>
For Login <a asp-action="CookiesView" asp-controller="Home">Login</a>
<br />
Secured Page:<a asp-action="Logout" asp-controller="Cookies">Login Page</a>

